/* 006A4D 3top this color is used for this website */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  font-style: normal;
}

.hero {
  text-align: center;
  padding: 150px 0 300px 0;
  background-image: url(./assets/images/eminrasenhero.webp);
  background-size: cover;
  background-position: center;
}

.heroheader {
  padding-top: 20px;
  color: white;
  background-color: #021c3cee;
}

.herodes {
  padding-top: 8px;
  color: rgb(187, 187, 187);
  background-color: #021c3cee;
}

figure {
  margin: 0;
  padding: 0 0 0 20px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.97);
  border-bottom: 2px solid #021c3c;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: black;
}
.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav-links a {
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: black;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
}
.nav-links a:hover {
  background-color: lightgray;
}

.show-nav {
  height: auto;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

.icons {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: xx-large;
  background-color: #021c3cee;
}

.icons a {
  color: white;
}

.icons a:hover {
  color: skyblue;
}

.instagramicon {
  padding-right: 20px;
}

.new-songs-home {
  padding-bottom: 50px;
  background-image: linear-gradient(#021c3c, #2b5990);
}

.new-songs-home > p {
  text-align: center;
  padding: 20px;
  font-size: large;
  direction: rtl;
  color: white;
}

/* Single Songs Home Component */
.single-new-songs-home {
  padding: 20px;
}

.single-new-songs-home-info {
  text-align: center;
}

/* AboutUs page */
.aboutus-main {
  padding: 150px 100px 300px 100px;
  text-align: right;
  direction: rtl;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  background-image: linear-gradient(#84cac8, #f0ece9);
}

.aboutus-main img {
  float: right;
  margin: 0 0 50px 30px;
}

.aboutus-main h1 {
  display: block;
  padding-top: 10px;
}
.aboutus-main h4 {
  display: block;
  color: #3a5c5c;
  padding-top: 5px;
}

.aboutus-main p {
  padding-top: 10px;
}

.aboutus-emin {
  border: 1px solid black;
  border-radius: 10px;
}

@media (max-width: 760px) {
  .aboutus-main {
    display: block;
    padding: 30px 0px 10px 0px;
  }
  .aboutus-main img {
    display: block;
    float: none;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .aboutus-main .aboutus-main-parts {
    padding: 0 10px 20px 10px;
  }
}

/* Contact Us page */
.contactus-main {
  background-image: linear-gradient(black, white);
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contactus-main address {
  background: lightgray;
  border: 1px dashed black;
  border-radius: 5%;
  padding: 30px 50px;
  margin: 50px 50px;
  text-align: center;
  width: 50vh;
}

.contactus-main img {
  border: 3px solid lightgray;
  padding: 3px;
  border-radius: 50%;
  margin-top: -100px;
}

.contactus-main h2 {
  font-style: normal;
}
.contactus-main p {
  color: gray;
  font-size: 14px;
  padding-top: 4px;
}

.contactus-main hr {
  margin-bottom: 15px;
}

.contactus-main a {
  color: white;
  text-align: left;
  padding: 12px 20px 12px 50px;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
  display: block;
  text-decoration: none;
  background: gray;
  background-image: url("./assets/images/icons8-download-26.png");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.contactus-main .insta {
  background-image: url("./assets/images/icons8-instagram-50.png");
}

.contactus-main .tel {
  background-image: url("./assets/images/icons8-telegram-app-50.png");
}

.contactus-main .web {
  background-image: url("./assets/images/icons8-website-50.png");
}

.contactus-main .contactus-icons p {
  color: white;
  font-size: large;
  display: inline;
}

@media (max-width: 1100px) {
  .contactus-main address {
    padding: 30px;
    width: 80vh;
  }
}

/* Music Video Page */
.musicvideo-main {
  padding: 120px 0;
  background-image: linear-gradient(#84cac8, #f0ece9);
}

.musicvideo-main .musicvideo-videoes {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.musicvideo-main h3 {
  text-align: center;
  padding-bottom: 20px;
}

.musicvideo-main .musicvideo-single {
  margin: auto;
  text-align: center;
  width: 345px;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  background-color: lightgray;
}

.musicvideo-main .musicvideo-single h4,
.musicvideo-main .musicvideo-single p {
  text-align: left;
  padding-left: 5%;
}

/* Footer Component */
footer {
  bottom: 0;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 50px 50px 20px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center a {
  display: inline;
  line-height: 1.8;
  text-decoration: none;
  list-style-type: none;
  color: rgb(209, 208, 208);
}

.footer-distributed .footer-center a:hover {
  color: #5383d3;
  background-color: white;
}

.footer-distributed .footer-center ul {
  list-style-type: none;
  text-align: right;
}

.footer-distributed .footer-center p {
  color: white;
  font-size: large;
  padding-bottom: 15px;
}

.footer-distributed .footer-right {
  display: inline-block;
  text-align: right;
  padding-left: 15%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #5383d3;
}

.footer-distributed .footer-bottom {
  padding-top: 40px;
}
.footer-distributed .footer-bottom p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 10px;
  direction: rtl;
  font-size: large;
}
.footer-distributed .footer-bottom .footer-hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-distributed .footer-bottom span {
  color: skyblue;
}

@media (max-width: 980px) {
  .footer-distributed {
    font-size: 14px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center a {
    display: inline-block;
    padding-right: 35%;
  }

  .footer-distributed .footer-right {
    text-align: right;
    padding-right: 35%;
  }
}

/* Song Component */
.new-songs-home .new-songs-home-center {
  padding-top: 10px;
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.songs-single {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
}

.songs-single img {
  padding-bottom: 5px;
}

.songs-single p {
  color: white;
  font-size: large;
  padding: 0 0px 2px 15%;
  text-align: left;
}

.songs-single .singers {
  font-size: 16px;
  color: rgb(173, 173, 173);
  margin-bottom: 5px;
}

.songs-single audio {
  display: block;
  margin: 10px auto;
}

.songs-single a {
  color: black;
  padding: 12px 20px 12px 40px;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  background: white;
  background-image: url("./assets/images/icons8-download-26.png");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.songs-single a:link,
a:visited {
  font-size: medium;
}

.songs-single a:hover {
  background-color: grey;
  color: white;
}

.new-songs-home > p {
  padding-top: 20px;
}

.new-songs-home .song-list {
  padding-top: 100px;
}
